<div class="animated fadeIn">
    <div class="row" style="float: right;padding-bottom:15px;margin-right: 2px;">
        <button type="button" mat-raised-button class="mat-add-btn-color" aria-label="ADD" tooltip="ADD">
            ADD
        </button>
    </div>
    <div class="clearfix"></div>
    <div>
        <mat-form-field style="background-color: #fff;padding: 20px;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort (matSortChange)="applySort($event)" matSortDisableClear>

                <ng-container matColumnDef="cardnumber_1">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Card Number</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.cardnumber_1}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="user_id_1">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.users ? element.users.username : '-'}} </mat-cell>
                </ng-container>

                <!--<ng-container matColumnDef="option">-->
                    <!--<mat-header-cell *matHeaderCellDef> Option </mat-header-cell>-->
                    <!--<mat-cell *matCellDef="let element">-->
                        <!--<button type="button" mat-raised-button mat-raised-button class="mat-view-btn-color" aria-label="VIEW"-->
                                <!--tooltip="VIEW">-->
                            <!--<i class="fa fa-eye"></i>-->
                        <!--</button>-->
                        <!--<button type="button" mat-raised-button mat-raised-button class="mat-edit-btn-color" aria-label="EDIT"-->
                                <!--tooltip="EDIT">-->
                            <!--<i class="fa fa-edit"></i>-->
                        <!--</button>-->
                    <!--</mat-cell>-->
                <!--</ng-container>-->

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons
                           (page)="applyPagination($event)">
            </mat-paginator>
        </div>
    </div>
</div>