.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.mat-raised-button.mat-accent {
  background-color: #20A8D8;
}

.mat-raised-button.mat-accent[disabled] {
  background-color: rgba(0, 0, 0, .12);
}

.mat-input-element {
  caret-color: #20A8D8;
}

.login-full-width {
  width: 100%;
}
